.catalogue
    display: flex
    justify-content: center
    gap: 40px
    margin: 40px 0
    &__card
        &__title
            text-align: center
            margin-bottom: 15px
            color: #666
        &__img
            width: 398px
            height: 547px
