.home
    max-width: 1720px
    margin: auto
    @media screen and (max-width: 1750px)
        max-width: 85%
        margin: 0 7.5%
    & header
        display: flex
        align-items: center
        gap: 1rem
    &__logo
        width: 100px
        height: 100px
    &__title
        margin: 50px 0
        width: 252px
